<section>
  <ul class="nav nav-pills product-tabs">
    <li ng-class="{ active:isSet(1) }">
      <a href ng-click="setTab(1)">Description</a>
    </li>
    <li ng-class="{ active:isSet(2) }">
      <a href ng-click="setTab(2)">Specs</a>
    </li>
    <li ng-class="{ active:isSet(3) }">
      <a href ng-click="setTab(3)">Reviews</a>
    </li>
  </ul>

  <!--  Description Tab's Content  -->
  <div product-description ng-show="isSet(1)"></div>

  <!--  Spec Tab's Content  -->
  <div product-specs ng-show="isSet(2)"></div>

  <!--  Review Tab's Content  -->
  <div product-reviews ng-show="isSet(3)"></div>
</section>
